<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard | A2Z</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>GOD Mode</h2>
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#coding">Coding Resources</a></li>
    <li><a href="#hackathon"> Hackathons </a></li>
    <li><a href="#fellowships">Fellowships</a></li>
    <li><a href="#bootcamps">BootCamps</a></li>
    <li><a href="#conferences">Conferences</a></li>
    <li><a href="#community"> Developer Communities</a></li>
    <li><a href="#competiton">Competitons</a></li>
    <li><a href="#topcharts">Top Charts</a></li>

  </ul>

  <div class="tab-content">
    
    <!-- Start of coding section  -->

    <div id="coding" class="tab-pane fade">
      <h3>Add Coding Resources</h3>

      <form method="POST" action="/admin/dashboard">
        <div id="form-container">
          <div class="form-group">
            <label for="inputsm">Title</label>
            <input class="form-control" id="inputsm" name="title" type="text" required="true">
          </div>

          <div class="form-group">
            <label for="inputsm">URL</label>
            <input class="form-control" id="inputsm" type="url" name="url" required="true">
          </div>

          <div class="form-group">
            <label for="sel1">Difficulty Level</label>
            <select class="form-control" id="sel1" name="difficulty">
              <option>Beginners</option>
              <option>Moderate</option>
              <option>Expert</option>
            </select>
          </div>

          <div class="form-group">
            <label for="select-tag">Choose Resource Tag</label>
            <select class="form-control" id="select-tag" name="tag">
              <option>Python </option>
              <option> HTML & CSS</option>
              <option>JavaScript </option>
              <option>Git & Github </option>
              <option>Data Structure </option>
              <option>Machine Learning</option>
              <option>Deep Learning </option>
              <option>Android Development </option>
              <option>iOS Development </option>
              <option>Backend Development </option>
              <option>Frontend Development </option>
              <option>Core CS</option>
              
            </select>
          </div>
          <button type="submit" class="btn btn-success">Upload Data</button>
        </div>
    </form>
      
    </div>

    <!-- END OF CODING Resources -->

     <!-- START OF Hackathons SECTION  -->

    <div id="hackathon" class="tab-pane fade">
      <h3>Competitons and Hackathons</h3>

      <form action="#" method="POST">

        <div class="form-container">

             <div class="form-group">
                <label for="inputsm">Title</label>
                <input class="form-control" id="inputsm" name="title" type="text" required="true">
              </div>

              <div class="form-group">
                  <label for="inputsm">URL</label>
                  <input class="form-control" id="inputsm" name="url" type="url" required="true">
              </div>

              <div class="form-group">
                  <label for="inputsm">Location</label>
                  <input class="form-control" id="inputsm" name="url" type="url" required="true">
              </div>
  
              <div class="form-group">
                  <label for="inputsm">Submission Date</label>
                  <input class="form-control" id="inputsm" name="url" type="date" required="true">
              </div>
               
              <div class="form-group">
                  <label for="select-tag">Type</label>
                  <select class="form-control" id="select-tag" name="type">
                    <option>Online</option>
                    <option>In-person</option> 
                  </select>
              </div>

              <div class="form-group">
                  <label for="select-tag">Travel Reimbursment</label>
                  <select class="form-control" id="select-tag" name="ta">
                    <option>Yes</option>
                    <option>No</option>
                    <option>Case by case basis</option>
                    <option>Partial</option> 
                  </select>
              </div>

              <button type="submit" class="btn btn-success">Upload Data</button>

        </div>

      </form>

    </div>
    
    <!-- END OF Hackathons SECTION -->

    <!-- START OF Scholarship -->

    <div id="fellowships" class="tab-pane fade">
      
      <h3>Fellowships</h3>

      <form action="#" method="POST">
          <div class="form-container">

               <div class="form-group">
                  <label for="inputsm">Title</label>
                  <input class="form-control" id="inputsm" name="title" type="text" required="true">
                </div>
  
                <div class="form-group">
                    <label for="inputsm">URL</label>
                    <input class="form-control" id="inputsm" name="url" type="url" required="true">
                </div>

                <div class="form-group">
                    <label for="inputsm">Location</label>
                    <input class="form-control" id="inputsm" name="location" type="text" required="true">
                </div>

                <div class="form-group">
                    <label for="select-tag">Eligiblity</label>
                    <select class="form-control" id="select-tag" name="eligiblity" required="true">
                      <option>Bachelors</option>
                      <option>Masters</option>
                      <option>PHD</option> 
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputsm">Submission Date</label>
                    <input class="form-control" id="inputsm" name="date" type="date" required="true">
                </div>

                <div class="form-group">
                    <label for="select-tag">Field</label>
                    <select class="form-control" id="select-tag" name="ta">
                      <option>Technology</option>
                      <option>Arts and Science</option>
                      <option>Social</option> 
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Upload Data</button>
  
           </div>
       
      </form>
    
    </div>

    <!-- END OF Fellowships -->

    <!-- Start of Conference Section -->

    <div id="conferences" class="tab-pane fade">
            <h3>Conferences</h3>
      
            <div class="form-group">
                <label for="inputsm">Title</label>
                <input class="form-control" id="inputsm" name="title" type="text" required="true">
            </div>
      
            <div class="form-group">
                <label for="inputsm">URL</label>
                <input class="form-control" id="inputsm" name="url" type="url" required="true">
            </div>
      
            <div class="form-group">
                <label for="inputsm">Location</label>
                <input class="form-control" id="inputsm" name="location" type="text" required="true">
            </div>
      
            <div class="form-group">
                <label for="inputsm">Date</label>
                <input class="form-control" id="inputsm" name="location" type="date" required="true">
            </div>
      
            <div class="form-group">
                <label for="select-tag">Field</label>
                <select class="form-control" id="select-tag" name="field">
                  <option>JavaScript</option>
                  <option>Python</option>
                  <option>Android</option> 
                  <option>iOS</option>
                  <option>AI</option>
                  <option>Business</option>
                  <option>Android</option>
                  <option>Web</option>
                  <option>Technology</option>
                  <option>Sustainble Development</option>
                  <option>Others</option>   
                </select>
            </div>
      
            <div class="form-group">
                <label for="select-tag">Travel Reimbursment</label>
                <select class="form-control" id="select-tag" name="ta">
                  <option>Yes</option>
                  <option>No</option>
                  <option>Case by case basis</option>
                  <option>Partial</option>
                </select>
            </div>
      
            <button type="submit" class="btn btn-success">Upload Data</button>
    </div>

    <!-- End of conference section -->

    <!-- Start of Commmunity Section -->

    <div id="community" class="tab-pane fade">
        <h3>Developer Community</h3>
  
        <div class="form-group">
            <label for="inputsm">Title</label>
            <input class="form-control" id="inputsm" name="title" type="text" required="true">
        </div>

        <div class="form-group">
            <label for="inputsm">URL</label>
            <input class="form-control" id="inputsm" name="url" type="url" required="true">
        </div>

        <div class="form-group">
            <label for="inputsm">Location</label>
            <input class="form-control" id="inputsm" name="location" type="text" required="true">
        </div>

        <div class="form-group">
            <label for="select-tag">Type</label>
            <select class="form-control" id="select-tag" name="type">
              <option>Technology</option>
              <option>Business</option>
              <option>Entrepreneurship</option>
              <option>Others</option> 
            </select>
        </div>      
  
        <button type="submit" class="btn btn-success">Upload Data</button>
    </div>

    <!-- End of Commmunity Section -->

    <!-- Start of Competiton Section -->

    <div id="competiton" class="tab-pane fade">
        <h3>Competitons</h3>

        <div class="form-group">
            <label for="inputsm">Title</label>
            <input class="form-control" id="inputsm" name="title" type="text" required="true">
        </div>

        <div class="form-group">
            <label for="inputsm">URL</label>
            <input class="form-control" id="inputsm" name="url" type="url" required="true">
        </div>

        <div class="form-group">
            <label for="select-tag">Location</label>
            <select class="form-control" id="select-tag" name="location">
              <option>Online</option>
              <option>Onsite</option>
              <option>Online & Onsite</option>            
            </select>
        </div>      
  

        <div class="form-group">
            <label for="select-tag">Field</label>
            <select class="form-control" id="select-tag" name="field">
              <option>Technology</option>
              <option>Business</option>
              <option>Entrepreneurship</option>
              <option>Ideathon</option>
              <option>Design</option>
              <option>Mechanical</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-success">Upload Data</button>

    </div>

    <!-- End of Competiton Section -->

    <!-- Start of BootCamp    -->
    <div id="bootcamps" class="tab-pane fade">
        <h3>Startup Programs and BootCamps</h3>

        <div class="form-group">
            <label for="inputsm">Title</label>
            <input class="form-control" id="inputsm" name="title" type="text" required="true">
        </div>

        <div class="form-group">
            <label for="inputsm">URL</label>
            <input class="form-control" id="inputsm" name="url" type="url" required="true">
        </div>

        <div class="form-group">
            <label for="inputsm">Location</label>
            <input class="form-control" id="inputsm" name="location" type="text" required="true">
        </div>

       
        <div class="form-group">
            <label for="select-tag">Scholarship</label>
            <select class="form-control" id="select-tag" name="scholarship">
              <option>Yes</option>
              <option>No</option>
              <option>Partial</option>
              <option>Case by Case Basis</option>
            </select>
        </div>

        <div class="form-group">
            <label for="select-tag">Field</label>
            <select class="form-control" id="select-tag" name="field">
              <option>Technology</option>
              <option>Entrepreneurship</option>
              <option>Design</option>
              <option>Others</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Upload Data</button>


    </div>
    <!-- End of BootCamp -->
    
    <!-- Start of topcharts -->
    <div id="topcharts" class="tab-pane fade">
     
      <h3>Top Charts</h3>
          
      <div class="form-group">
              <label for="inputsm">Title</label>
              <input class="form-control" id="inputsm" name="title" type="text" required="true">
          </div>

          <div class="form-group">
              <label for="inputsm">Links</label>
              <input class="form-control" id="inputsm" name="url" type="url" required="true">
          </div>

          <div class="form-group">
              <label for="inputsm">Description</label>
              <input class="form-control" id="inputsm" name="description" type="text" required="true">
          </div>

        
          <div class="form-group">
              <label for="select-tag">Category</label>
              <select class="form-control" id="select-tag" name="category">
                <option>Person</option>
                <option>Website</option>
                <option>Book</option>
                <option>Blogs</option>
                <option>Others</option>
              </select>
          </div>

          <button type="submit" class="btn btn-success">Upload Data</button>    
    </div>

    <!-- End of topcharts -->

  </div>

<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });

});

</script>
</body>
</html>
