<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "login.js" type="text/javascript"></script>
</head>
<body>
    <h2 class="w3-text-blue">Login </h2>
  <p>
    <label class="w3-text-blue"><b>User Name</b></label>
    <input class="w3-input w3-border" name="uname" type="text" id ="uname"></p>
    <p>
    <label class="w3-text-blue" id = "pass"><b>Password</b></label>
    <input class="w3-input w3-border" name="pass" type="text" id ="upass"></p>
    <p>
    <button class="w3-btn w3-blue" id="loginForm">Login</button></p>
</body>
</html>